.Aside {
  width: 30vw;
  height: 100vh;
  background-color: #fbfbfc;
  box-shadow: 0 2px 10px 0 #888888;
}
.Aside-title {
  font-size: 2rem;
  padding: 1em;
  color: #fbfbfc;
  background-color: #2097f3;
}
