@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

$tufts-blue: #2097f3ff;
$red-pigment: #ed1c24ff;
$spanish-viridian: #1c7c54ff;
$gray-web: #848a8dff;
$white: #fbfbfcff;

*,
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}
.App {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  display: flex;
  background-color: $white;
}
