@import "../variables";

.Book {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $gray-web;
  font-size: 1.25rem;
  box-shadow: 5px 5px 10px 0px $gray-web;

  .Book-title {
    color: $white;
    background-color: $tufts-blue;
    padding: 1rem;
  }
  .Book-author,
  .Book-lenght,
  .Book-status {
    margin: 2rem;
  }
  .Book-author,
  .Book-lenght {
    margin-bottom: 0;
  }
  .Book-btn {
    cursor: pointer;
    margin: 1rem;
    font-weight: 900;
    display: inline-block;
    background-color: $red-pigment;
    border: none;
    color: $white;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px 0px $gray-web;
    transition-duration: 200ms;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      box-shadow: 0 0 0 0 transparent;
    }
  }
  .change {
    background-color: $tufts-blue;
  }
}
